openapi: 3.1.0
info:
  title: Remitian Tax Payment Accounts Audit Logs API
  description: The Remitian Tax Payment API enables tax software providers and accounting firms to embed tax payment initiation, validation, and confirmation directly within their existing platforms. Described as the "Stripe for tax," the API acts as a unified gateway to multiple tax authorities, replacing manual government portal logins with automated, jurisdiction-aware payment infrastructure. It provides real-time status updates via webhooks and bank-grade audit logs to track every payment from initiation to completion. Built by accountants for accountants, the API supports managing payments across multiple tax jurisdictions from a single integration point.
  version: 1.0.0
  contact:
    name: Remitian Support
    url: https://help.remitian.com
  termsOfService: https://remitian.com/terms
servers:
- url: https://api.remitian.com
  description: Production Server
security:
- bearerAuth: []
tags:
- name: Audit Logs
  description: Access bank-grade audit logs that track every payment from initiation to completion for compliance and reconciliation.
paths:
  /v1/audit-logs:
    get:
      operationId: listAuditLogs
      summary: List audit logs
      description: Retrieve bank-grade audit logs that track every payment from initiation to completion. Supports filtering by payment, account, event type, and date range for compliance and reconciliation purposes.
      tags:
      - Audit Logs
      parameters:
      - name: paymentId
        in: query
        description: Filter logs by payment identifier
        schema:
          type: string
      - name: accountId
        in: query
        description: Filter logs by account identifier
        schema:
          type: string
      - name: eventType
        in: query
        description: Filter by audit event type
        schema:
          type: string
      - $ref: '#/components/parameters/DateFromFilter'
      - $ref: '#/components/parameters/DateToFilter'
      - $ref: '#/components/parameters/PageLimit'
      - $ref: '#/components/parameters/PageOffset'
      responses:
        '200':
          description: A paginated list of audit log entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuditLogEntry'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  parameters:
    PageLimit:
      name: limit
      in: query
      description: Maximum number of results to return per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    PageOffset:
      name: offset
      in: query
      description: Number of results to skip for pagination
      schema:
        type: integer
        minimum: 0
        default: 0
    DateFromFilter:
      name: dateFrom
      in: query
      description: Filter results from this date (ISO 8601)
      schema:
        type: string
        format: date
    DateToFilter:
      name: dateTo
      in: query
      description: Filter results up to this date (ISO 8601)
      schema:
        type: string
        format: date
  responses:
    Unauthorized:
      description: Missing or invalid authentication credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Pagination:
      type: object
      properties:
        total:
          type: integer
          description: Total number of results
        limit:
          type: integer
          description: Maximum results per page
        offset:
          type: integer
          description: Current offset
        hasMore:
          type: boolean
          description: Whether more results are available
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Machine-readable error code
            message:
              type: string
              description: Human-readable error message
            details:
              type: array
              description: Detailed error information
              items:
                type: object
                properties:
                  field:
                    type: string
                    description: Field related to the error
                  message:
                    type: string
                    description: Detail about the field error
    AuditLogEntry:
      type: object
      properties:
        id:
          type: string
          description: Unique audit log entry identifier
        paymentId:
          type: string
          description: Associated payment identifier
        accountId:
          type: string
          description: Associated account identifier
        eventType:
          type: string
          description: Type of audit event
          example: payment.confirmed
        description:
          type: string
          description: Human-readable description of the event
        actor:
          type: string
          description: Identifier of the user or system that triggered the event
        ipAddress:
          type: string
          description: IP address of the request that triggered the event
        timestamp:
          type: string
          format: date-time
          description: When the event occurred
        metadata:
          type: object
          additionalProperties: true
          description: Additional context for the audit event
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: API key authentication using a Bearer token provided by Remitian during partner onboarding.
externalDocs:
  description: Remitian Integration Documentation
  url: https://remitian.com/integrations/integrate-remitian
